#main-container{
    /* background-color: white; */
    grid-column: 2 / end;
    grid-row: 2 / span 2;
    padding:20px 30px ;

    display: flex;
    gap:50px
}

#main-container > section{
    border: none;
    border-radius:10px;
    flex:1 0 auto;
    
    max-height: 250px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
    position: relative;
}




#main-container > :first-child{
    display: grid;
    background-color: var(--secondary);

    max-width:650px;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows:200px;

    overflow:auto;
    gap:30px;

    padding:35px 30px 40px; 
}

#main-container > :first-child > div{
    background: url(./../assets/Cat-pic1.jpg)  center no-repeat;
    background-size: cover ;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    position: relative;


    overflow: hidden;
}

#main-container > :first-child > div:hover{
    transform: scale(1.1);

}

#main-container > :first-child > :nth-child(2){
    background: url(./../assets/Mountain-by-Nikita-Krassiouk.jpg) center;
    background-size: cover;
}

#main-container > :first-child >div > header{
    position: absolute;
    color:var(--fontColor);
    background-color: rgba(168, 161, 247, .5);
    bottom:0;
    left:0;
    right:0;
    padding:5px;
    text-align: Center;
}

#main-container >:first-child  h6{
    font-size: 1rem;
    color: var(--secondary);
}
#main-container > :first-child  span{
    font-size:.85rem;
    color:var(--secondary)  
}
#main-container > :first-child > span{
    color: var(--fontColor);
}


#first-section-title{
    position: absolute;
    top:0;
    left:0;
    right:0;
    text-align: center;
    font-weight: 600;
}
#first-section-title::before, #first-section-title::after{
    content: "⭐✨🌟";
    margin:0 5px;
}

/* pixel ninja song */

#main-container > .hover:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px -1px rgba(255, 255, 255);
}

#main-container > .fixed > :first-child{
    display: flex;
    justify-content: center;
    align-items:center;
    
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 5px 0 0 5px;

    position: absolute;
    top:10px;
    right:0px;

    cursor: pointer;
    transition: .2s;
}

#main-container > :last-child > :first-child:hover{
    transform: scale(1.2);
    top:2px;
    right:2px;
}

#main-container > .fixed{
    position: fixed;
    top:0;
    left:0;
    right:0;
    min-height: 100vh;
    z-index: 999;

    
}

#main-container > :last-child > .display-none{
    display: none;
    opacity: 0;
}


#main-container > :last-child{
    /* background: url(./../assets/Ninja\ rain.gif) right no-repeat ; */
    background-size: cover;
    

    transition: .7s;
    cursor: pointer;
    
    
}

#placeholder{
    opacity:0;
    position: absolute;
    bottom: 20px;
    left:50px;
    right:50px;
    border-radius: 10px;;

    padding:10px;
    text-align: center;

    background-color:hsla(245, 86%, 80%, .85) ;
    color: var(--secondary);
    font-size: 2rem;

    transition: .5s;
}

#main-container > :last-child:hover > :last-child{
    
    opacity: 1;


}