:root{
    font-family:text-me, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: text-me;
    src: url(./../fonts/text-me-one/TextMeOne-Regular.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*::selection{
    background-color: black;
    color:aqua;
}

a:link{
    font-style: none;
    text-decoration: none;
}
a:visited{
    font-style: none;
    text-decoration: none;
    color: white;
}


input:focus{
    outline:none;
}

body{
    /* background: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.5), lightblue); */
    display: flex;
    padding:0;
    /* background: rgb(55, 0, 172); */
    /* background-color: rgb(0, 0, 100); */
    background: linear-gradient(to right bottom, rgb(104, 0, 104), black, rgb(0, 0, 100));
    background-size: cover;
}

#super-container{
    width:100%;
    height: 100%;
    /* background-color:white; */
    display: grid;
    grid-template-columns: 12% 3fr repeat(3, 1fr);
    grid-template-rows: 80px 300px  ;
    grid-auto-rows: 300px;

    padding:0px 20px 0 0;
    column-gap: 30px;
    row-gap: 40px;

    /* position: relative; */
}

svg path{
    fill:white;
}



