:root{
    font-family:text-me, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;

    --primary : #272b4a;
    --secondary : #0f143c;
    --support1 : #a8a1f8;
    --support2 :#8e94b7;
    --fontColor : #ced6e7; 
}

@font-face {
    font-family: text-me;
    src: url(./../fonts/text-me-one/TextMeOne-Regular.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--fontColor);
}

*::selection{
    background-color: black;
    color:aqua;
}

a:link{
    font-style: none;
    text-decoration: none;
}
a:visited{
    font-style: none;
    text-decoration: none;
    color: var(--fontColor);
}


input:focus{
    outline:none;
}

body{
    display: flex;
    padding:0;
    /* background: rgb(55, 0, 172); */
    /* background-color: rgb(0, 0, 100); */
    /* background: linear-gradient(to right bottom, rgb(104, 0, 104), black, rgb(0, 0, 100)); */
    background-color: #272b4a;
    background-size: cover;


}

#super-container{
    width:100%;
    height: 100%;
    /* background-color:rgba(255, 255, 255, .2); */
    display: grid;
    grid-template-columns: 12% 3fr repeat(3, 1fr);
    grid-template-rows: 80px 300px  ;
    grid-auto-rows: 300px;

    padding:0px 20px 0 0;
    column-gap: 30px;
    row-gap: 40px;

    /* position: relative; */
}

svg path{
    fill:var(--fontColor);
}



